
<!-- 
<h1 appHighlight>Hello World</h1>

<p appHighlight>Welcome to ANgular classes</p> -->

<input appHighlight type="text" >

<h3 #h3element>Welcome to VLR</h3>

<h1>{{city}}</h1>

<p>{{message}}</p>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
    </tr>
    <tr *ngFor="let mobile of mobiles">
        <td>{{mobile.id}}</td>
        <td>{{mobile.name}}</td>
        <td>{{mobile.price}}</td>
        <td>{{mobile.stock}}</td>
        <td><app-mobiles [mobileId]="mobile.id" [stock]="mobile.stock" (updateStock)="updateStockStatus($event)"></app-mobiles></td>

    </tr>
</table>

<h3>{{child.city}}</h3>
<h1>{{child.greet()}}</h1>

<hr>

<app-child #child (messageToparent)="displayMessage($event)"></app-child>


