

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
    </tr>
    <tr *ngFor="let mobile of mobiles">
        <td>{{mobile.id}}</td>
        <td>{{mobile.name}}</td>
        <td>{{mobile.price}}</td>
        <td>{{mobile.stock}}</td>
        <td><app-mobiles [mobileId]="mobile.id" [stock]="mobile.stock" (updateStock)="updateStockStatus($event)"></app-mobiles></td>

    </tr>
</table>

<hr>

<app-child  (messageToparent)="displayMessage($event)"></app-child>


